In [3]:
from __future__ import print_function
import os
import pandas as pd
import numpy as np

#Set data sets path here
data_path = ['data']

# Import the data using the file path
dataset_1 = ['Animated-TV-Shows-With-Num-of-LGBTQ-Characters.csv']
data_1 = os.sep.join(data_path + dataset_1)

dataset_2 = ['imdb_animated_shows.csv']
data_2 = os.sep.join(data_path + dataset_2)
# Import data
df = pd.read_csv(data_1)
df2 = pd.read_csv(data_2)

In [23]:
#Drop the rows that do not have an IMDB Rating
df2 = df2.dropna(axis=0, subset=['IMDB Rating'])

df2.head

<bound method NDFrame.head of                          TV Show Title   Unique ID  IMDB Rating Start Year  \
0                       Rick and Morty   tt2861424          9.2       2013
1                         Chainsaw Man  tt13616990          9.1       2022
2               Cyberpunk: Edgerunners  tt12590266          8.4       2022
3      Bleach: Thousand-Year Blood War  tt14986406          9.6       2022
4                         The Simpsons   tt0096697          8.7       1989
...                                ...         ...          ...        ...
11110                   A Demanda do R   tt0127372          6.0       1998
11127               ViR: The Robot Boy   tt8242412          3.2       2013
11128                            Shiva   tt8861916          1.3       2015
11129    6-tsugo to ouma no monogatari   tt6152658          7.0       2016
11131                    Pitch & Potch   tt6490194          6.8       2010

      End Year TV Rating Episode Run Time (min)                 Top Genres
0                  TV-14                     23  [' Adventure', ' Comedy']
1                  TV-MA                    NaN  [' Action', ' Adventure']
2                  TV-MA                     24  [' Action', ' Adventure']
3                  TV-MA                     24  [' Action', ' Adventure']
4                  TV-14                     22                [' Comedy']
...        ...       ...                    ...                        ...
11110                NaN                    NaN                [' Family']
11127                NaN                     30     [' Comedy', ' Family']
11128                NaN                     21                         []
11129                NaN                    NaN                         []
11131                NaN                    NaN                [' Family']

[7148 rows x 8 columns]>

In [19]:
#rename columns to match other dataset
df.rename(columns = {'ID':'Unique ID'}, inplace = True)

df.head

<bound method NDFrame.head of       Unique ID                     show_title  Total Occ TV_rating  \
0     tt7736544       3Below: Tales of Arcadia          1     TV-Y7
1     tt1305826                 Adventure Time          3     TV-PG
2    tt11165358  Adventure Time: Distant Lands          1     TV-PG
3     tt1790914                  Allen Gregory          2     TV-14
4     tt0397306                  American Dad!          3     TV-14
..          ...                            ...        ...       ...
113   tt8009622                 Twelve Forever          4     TV-Y7
114   tt8146766           Victor and Valentino          1     TV-Y7
115   tt5580664    Voltron: Legendary Defender          3     TV-Y7
116   tt0383718                     W.I.T.C.H.          3     TV-Y7
117   tt1641384                  Young Justice          7     TV-PG

     IMDB_rating                                              genre
0            7.7  action, adventure, comedy, family, fantasy, sc...
1            8.6  action, adventure, comedy, family, fantasy, sc...
2            8.7  action, adventure, comedy, family, fantasy, sc...
3            4.1                                             comedy
4            7.3                                             comedy
..           ...                                                ...
113          6.4         action, adventure, comedy, family, fantasy
114          6.2  adventure, comedy, family, fantasy, mystery, s...
115          8.0  action, adventure, comedy, drama, family, fant...
116          7.3  action, adventure, comedy, drama, family, fant...
117          8.6  action, adventure, crime, romance, science fic...

[118 rows x 6 columns]>

In [27]:
#combine the two datasets into another dataset with only the desired columns
df3 = df2[["Unique ID", "TV Show Title", "IMDB Rating", "Start Year", "End Year", "TV Rating", "Episode Run Time (min)", "Top Genres"]].merge(df[["Unique ID", "Total Occ"]], on = "Unique ID", how = "left")

df3.head

<bound method NDFrame.head of        Unique ID                    TV Show Title  IMDB Rating Start Year  \
0      tt2861424                   Rick and Morty          9.2       2013
1     tt13616990                     Chainsaw Man          9.1       2022
2     tt12590266           Cyberpunk: Edgerunners          8.4       2022
3     tt14986406  Bleach: Thousand-Year Blood War          9.6       2022
4      tt0096697                     The Simpsons          8.7       1989
...          ...                              ...          ...        ...
7143   tt0127372                   A Demanda do R          6.0       1998
7144   tt8242412               ViR: The Robot Boy          3.2       2013
7145   tt8861916                            Shiva          1.3       2015
7146   tt6152658    6-tsugo to ouma no monogatari          7.0       2016
7147   tt6490194                    Pitch & Potch          6.8       2010

     End Year TV Rating Episode Run Time (min)                 Top Genres  \
0                 TV-14                     23  [' Adventure', ' Comedy']
1                 TV-MA                    NaN  [' Action', ' Adventure']
2                 TV-MA                     24  [' Action', ' Adventure']
3                 TV-MA                     24  [' Action', ' Adventure']
4                 TV-14                     22                [' Comedy']
...       ...       ...                    ...                        ...
7143                NaN                    NaN                [' Family']
7144                NaN                     30     [' Comedy', ' Family']
7145                NaN                     21                         []
7146                NaN                    NaN                         []
7147                NaN                    NaN                [' Family']

      Total Occ
0           2.0
1           NaN
2           NaN
3           NaN
4           5.0
...         ...
7143        NaN
7144        NaN
7145        NaN
7146        NaN
7147        NaN

[7148 rows x 9 columns]>

In [25]:
#replace NaN values in the "Total Occ" column with 0
df3['Total Occ'] = df3['Total Occ'].replace(np.nan, 0)

df3.head

<bound method NDFrame.head of        Unique ID  IMDB Rating Start Year End Year TV Rating  \
0      tt2861424          9.2       2013              TV-14
1     tt13616990          9.1       2022              TV-MA
2     tt12590266          8.4       2022              TV-MA
3     tt14986406          9.6       2022              TV-MA
4      tt0096697          8.7       1989              TV-14
...          ...          ...        ...      ...       ...
7143   tt0127372          6.0       1998                NaN
7144   tt8242412          3.2       2013                NaN
7145   tt8861916          1.3       2015                NaN
7146   tt6152658          7.0       2016                NaN
7147   tt6490194          6.8       2010                NaN

     Episode Run Time (min)                 Top Genres  Total Occ
0                        23  [' Adventure', ' Comedy']        1.0
1                       NaN  [' Action', ' Adventure']        3.0
2                        24  [' Action', ' Adventure']        1.0
3                        24  [' Action', ' Adventure']        2.0
4                        22                [' Comedy']        3.0
...                     ...                        ...        ...
7143                    NaN                [' Family']        0.0
7144                     30     [' Comedy', ' Family']        0.0
7145                     21                         []        0.0
7146                    NaN                         []        0.0
7147                    NaN                [' Family']        0.0

[7148 rows x 8 columns]>

In [28]:
#Export dataset to csv
df3.to_csv("Animated-TV-Shows-Final.csv", mode='a', index=False, header=True)