In [5]:
from __future__ import print_function
import os
import pandas as pd

#Set data sets path here
data_path = ['data']

# Import the data using the file path
dataset_1 = ['LGBTQ-character-demographics.csv']
data_1 = os.sep.join(data_path + dataset_1)

dataset_2 = ['LGBTQ-cartoons-series-information.csv']
data_2 = os.sep.join(data_path + dataset_2)
# Import data
df = pd.read_csv(data_1)
df2 = pd.read_csv(data_2)

In [6]:
#get total number of occurances for each show ID
df['Total Occ'] = df.groupby('ID').ID.transform('count')

df.head

<bound method NDFrame.head of              ID                     show_title confirmation_date  \
0     tt7736544       3Below: Tales of Arcadia         7/12/2019
1     tt1305826                 Adventure Time         5/17/2010
2     tt1305826                 Adventure Time          4/5/2010
3     tt1305826                 Adventure Time         4/26/2010
4    tt11165358  Adventure Time: Distant Lands         6/25/2020
..          ...                            ...               ...
348   tt1641384                  Young Justice          6/2/2012
349   tt1641384                  Young Justice         5/26/2012
350   tt1641384                  Young Justice        11/26/2010
351   tt1641384                  Young Justice         1/25/2019
352   tt1641384                  Young Justice          1/4/2019

                  character_name   race      gender   orientation  \
0             Shannon Longhannon  White   Cis Woman       Lesbian
1             Princess Bubblegum    NaN   Cis Woman  Undetermined
2    Marceline the Vampire Queen    NaN   Cis Woman  Undetermined
3                            BMO    NaN     Agender  Undetermined
4                             Y5    NaN   Cis Woman     Ambiguous
..                           ...    ...         ...           ...
348                   Bart Allen  White     Cis Man           Gay
349                Ed Dorado Jr.    POC     Cis Man           Gay
350                  Marie Logan  White   Cis Woman       Lesbian
351                   Harper Row  White   Cis Woman      Bisexual
352                Violet Harper    POC  Non Binary  Undetermined

                    role representation  Total Occ
0    Recurring Character       Explicit          1
1    Recurring Character       Explicit          3
2    Recurring Character       Explicit          3
3    Recurring Character       Explicit          3
4    Recurring Character       Implicit          1
..                   ...            ...        ...
348  Recurring Character       Explicit          7
349  Recurring Character       Implicit          7
350      Guest Character       Implicit          7
351      Guest Character       Implicit          7
352  Recurring Character       Explicit          7

[353 rows x 10 columns]>

In [7]:
#Only keep the id, show_title, and total occ columns
df = df[["ID", "show_title", "Total Occ"]]

df.head

<bound method NDFrame.head of              ID                     show_title  Total Occ
0     tt7736544       3Below: Tales of Arcadia          1
1     tt1305826                 Adventure Time          3
2     tt1305826                 Adventure Time          3
3     tt1305826                 Adventure Time          3
4    tt11165358  Adventure Time: Distant Lands          1
..          ...                            ...        ...
348   tt1641384                  Young Justice          7
349   tt1641384                  Young Justice          7
350   tt1641384                  Young Justice          7
351   tt1641384                  Young Justice          7
352   tt1641384                  Young Justice          7

[353 rows x 3 columns]>

In [8]:
#drop the duplicates
df.drop_duplicates()

df.head

<bound method NDFrame.head of              ID                     show_title  Total Occ
0     tt7736544       3Below: Tales of Arcadia          1
1     tt1305826                 Adventure Time          3
2     tt1305826                 Adventure Time          3
3     tt1305826                 Adventure Time          3
4    tt11165358  Adventure Time: Distant Lands          1
..          ...                            ...        ...
348   tt1641384                  Young Justice          7
349   tt1641384                  Young Justice          7
350   tt1641384                  Young Justice          7
351   tt1641384                  Young Justice          7
352   tt1641384                  Young Justice          7

[353 rows x 3 columns]>

In [9]:
#combine the two datasets into another dataset with only the desired columns
df3 = df[["ID", "show_title", "Total Occ"]].merge(df2[["ID", "TV_rating", "IMDB_rating", "genre"]], on = "ID", how = "left")

df3

,ID,show_title,Total Occ,TV_rating,IMDB_rating,genre
0,tt7736544,3Below: Tales of Arcadia,1,TV-Y7,7.7,"action, adventure, comedy, family, fantasy, sc..."
1,tt1305826,Adventure Time,3,TV-PG,8.6,"action, adventure, comedy, family, fantasy, sc..."
2,tt1305826,Adventure Time,3,TV-PG,8.6,"action, adventure, comedy, family, fantasy, sc..."
3,tt1305826,Adventure Time,3,TV-PG,8.6,"action, adventure, comedy, family, fantasy, sc..."
4,tt11165358,Adventure Time: Distant Lands,1,TV-PG,8.7,"action, adventure, comedy, family, fantasy, sc..."
...,...,...,...,...,...,...
348,tt1641384,Young Justice,7,TV-PG,8.6,"action, adventure, crime, romance, science fic..."
349,tt1641384,Young Justice,7,TV-PG,8.6,"action, adventure, crime, romance, science fic..."
350,tt1641384,Young Justice,7,TV-PG,8.6,"action, adventure, crime, romance, science fic..."
351,tt1641384,Young Justice,7,TV-PG,8.6,"action, adventure, crime, romance, science fic..."
352,tt1641384,Young Justice,7,TV-PG,8.6,"action, adventure, crime, romance, science fic..."

In [16]:
df3.to_csv("Animated-TV-Shows-With-Num-of-LGBTQ-Characters.csv", mode='a', index=False, header=True)