In [1]:
from __future__ import print_function
import os
import pandas as pd

#Set data sets path here
data_path = ['data']

# Import the data using the file path
dataset = ['LGBTQ-character-demographics.csv']
data = os.sep.join(data_path + dataset)
# Import data
df = pd.read_csv(data)

In [5]:
#get total number of occurances for each show ID
total_characters = df.groupby(['ID']).count()

print(total_characters)

           show_title  confirmation_date  character_name  race  gender  \
ID
tt0096697           5                  5               5     0       5
tt0101178           2                  2               2     0       2
tt0108783           4                  4               4     2       4
tt0108937           1                  1               1     0       1
tt0115200           2                  2               2     2       2
...               ...                ...             ...   ...     ...
tt9140632           2                  2               2     2       2
tt9165454           1                  1               1     1       1
tt9184820           3                  3               3     2       3
tt9795876           1                  1               1     0       1
tt9811118           2                  2               2     1       2

           orientation  role  representation
ID
tt0096697            5     5               5
tt0101178            2     2               2
tt0108783            4     4               4
tt0108937            1     1               1
tt0115200            2     2               2
...                ...   ...             ...
tt9140632            2     2               2
tt9165454            1     1               1
tt9184820            3     3               3
tt9795876            1     1               1
tt9811118            2     2               2

[118 rows x 8 columns]